@charset "UTF-8";
@import url();
body {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    background-color: #180148;
    overflow: hidden;
}

.table{
    display: table;
    width: 100%;
    height: 100%;
}

.table-cell{
    display: table-cell;
    vertical-align: middle;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5;
}