body {
  margin: 0 auto;
  padding: 0rem;
  background: linear-gradient(to bottom, #fdfdfd, #e8f1f9, #e8f1f9, #e8f1f9, #e8f1f9);
  font-size: 16px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* SECCION NOTICIAS*/

.fondonoticias{ 
  margin-top: 10rem;
 
  /* background-color: #e8f1f9; */
  height: 84.3rem;
}


.novedades{
   /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.066); */
   color: rgb(141, 177, 216);
   font-family: 'Gloock', serif; 
   font-size: 3.6rem;
   padding-top: 17rem;
   text-align: center;
   font-weight: 600;
 }
 
 #lineablanca{
   position:absolute;
   height: 23rem;
   margin-top: 6.95rem;
   rotate: 352deg;
   margin-left: 0rem;
   opacity: 100%;
 }
 
 #lineabaja{
   position: absolute;
   height: 23rem;
   margin-left: 18.15rem;
   margin-top: 52em;
   opacity: 100%;
 }
 

/* HEADER */

header {
/* margin-top: 25px; */
width: 100%;
height: 67px;
padding: 3px 0px;
background:#F1E5F2;
position: fixed; 
z-index: 1000; 
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.070);
}


input[type="text"],
textarea {
    margin: 10px 0;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3rem;
}

.navegacion{
width: 1500px;
margin-left: 120px;
}

.navegacion ul{
list-style: none;
}

.menu > li{
position: relative;
display: inline-block;
}

.menu > li > a{
margin-left: -35px;
display: block;
padding: 20px 35px;
color: #000000;
text-decoration: none;
font-size: 18.5px;
font-family: 'Gloock', serif;
}

.menu #secciones a:hover{
	color: #cd99ca;
	transition: all .3s;
}

/* SUBMENÚ*/

.submenu{
  margin-top: -2.5px;
	position: absolute;
	background: #333333f3;
	width: 84%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 11px;
	color: #fff;
	font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 14.4px;
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}


#logo {
  margin-top: -20px;
  padding-left: 10px;
  position: absolute;
}

#perfil, #lupa { 
  margin-top: 6px;
  margin-right: 20px;
  float: right;
}

h3{ 
  color: black (10 47 241);
}


/* ANUNCIO */
.anuncio {
  margin-top: 64.1rem;
  background:  linear-gradient(to top, rgba(0, 0, 0, 0.801), rgb(80, 79, 79)); 
  width: 100%;
  height: 25px;
  font-family: 'Lato';
  color: white;
  white-space: nowrap; 
  position: fixed;
  z-index: 1000; 
  overflow: hidden; 
}

.mensaje {
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  margin-top: -8px;
/* text-shadow: 1px 1px 1px rgb(0, 0, 0.7);*/ 
 animation: desplazamiento 30s linear infinite;
}


@keyframes desplazamiento {
  0% {
      transform: translateX(100%); 
  }
  100% {
      transform: translateX(-100%); 
  }
}

/* SLIDER */

.splash {
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.centrado {
    text-align: center;
}

.espacios {
    padding: 100px;
    padding-bottom: 100px;
}

.splash .col-md-6 {
    text-align: left;
}

.splash h1 {
    margin-top: 0px;
    background: black;
    display: inline-block;
    color: bisque;
    padding: 5px;
}

.text {
    margin-top: 70px;
}

.btn .btn-primary {
    background-color: #deaee8;
}

.espacios {
    padding-top: 100px;
}

html {
  box-sizing: border-box;
  font-size: 70%;
}


/* POSICIÓN SLIDER */

.contenedor-slider{
  margin-top: 0px;
  width: 92%;
  margin-left: 32px;
  margin-bottom: 0px;

}

.contenedor {
  position: relative;
  top: 9.2rem;
  overflow: hidden;
  border-radius: 7rem; 
  /*  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.194); */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.150); 
}

.slider {
  display: flex;
  width: 500%;
  height: 42rem;
  transition: all 0.25s ease-in;
  transform: translateX(0);
}

@media only screen and (max-width: 500px) {
  .contenedor {
    border-radius: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .slider {
    height: 100vh;
  }
}

.slider .caja {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 650px) {
  .slider .caja {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}

.slider .caja .bg {
  padding: 2rem;
  width: 55%;
  transform: skewX(7deg);
  position: absolute;
  height: 100%;
  left: -10%;
  padding-left: 20rem;
  transform-origin: 0 100%;
}

@media only screen and (max-width: 800px) {
  .slider .caja .bg {
    width: 65%;
  }
}

@media only screen and (max-width: 650px) {
  .slider .box .bg {
    width: 100%;
    left: 0;
    bottom: 0;
    height: 54%;
    transform: skewX(0deg);
  }
}

/* DECORACIONES DEL SLIDER */

.puntitos{
  position: absolute;
  height: 71px;
  z-index: 1;
  margin-bottom: 436.5px;
  margin-left: 34px;
}

.flor{
   position: absolute;
   height: 145px;
   margin-left: 135.8rem;
   margin-top: 43.1rem;
   rotate: 10deg;
   top: 0;
   left: 0;
   z-index: 1;
   opacity: 95%;
}

/* TEXTO DEL SLIDER */

.slider .caja .details h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.066);
  font-size: 3.35rem;
  font-weight: 500;
  color: white;
  font-family: 'Gloock', sans-serif;
  
}

.slider .caja .details p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.150);
  display: inline-block;
  font-size: 1.82rem;
  font-weight: 800;
  color: white;
  margin-left: 2px;
  font-family: 'Lato', sans-serif;
  max-width: 510px;
}

/* CAJA 1 */

.slider .caja .bg1::before {
  content: "";
  width: 52%;
  height: 101%;
  position: absolute;
  left: -120px;
  top: 0;
  background: linear-gradient(to bottom right, #a3ccdb, #b5e3f5, #aaddf3, rgb(191, 239, 255)); 
 /*  background-color: #B4D8F7; */
  pointer-events: none;
  transform: skewX(15deg);
}

.slider .caja1-slider {
  background-color: #79bfdb;
}

.slider .caja1-slider button {
  background-color: #9ad1e9;
}

/* CAJA 2 */

.slider .caja .bg2::before {
  content: "";
  width: 52%;
  height: 101%;
  position: absolute;
  left: -120px;
  top: 0;
  background: linear-gradient(to bottom right,#efc6d6, #f6d4e1,  #f1d1dd , #ffdde1);
 /*  background-color: #f5c9da ; */
  pointer-events: none;
  transform: skewX(15deg);
}

.slider .caja2-slider {
  background-color: #e6b8cd;
}

.slider .caja2-slider button {
  background-color: #ebc1d3 ;
}

/* CAJA 3 */

.slider .caja .bg3::before {
  content: "";
  width: 52%;
  height: 101%;
  position: absolute;
  left: -120px;
  top: 0;
 background: linear-gradient(to bottom right, #a8fadc, rgb(175, 235, 222), #a8efe0,#cfffe2); 
  /* background-color: #b2eee1; */
  pointer-events: none;
  transform: skewX(15deg);
}

.slider .caja3-slider {
  background-color: #a8fadc;
}

.slider .caja3-slider button {
/*   background-color:  #9bdacd; */
  background-color:  #9fe3d0;
}

/* CAJA 4 */

.slider .caja .bg4::before {
  content: "";
  width: 52%;
  height: 101%;
  position: absolute;
  left: -120px;
  top: 0;
  background: linear-gradient(to  bottom right, #a2ccf0, #98cdec, rgb(155, 204, 228), #b2d6f3);
/*   background: linear-gradient(to  bottom right, #a2bdf0, #98c2ec, rgb(155, 194, 228), #a7cbe8); */
  pointer-events: none;
  transform: skewX(15deg);
}

.slider .caja4-slider {
  background-color: #809BCE; 
} 

.slider .caja4-slider button {
  background-color: #8dbfdf; 
}

/* CAJA 5 */

.slider .caja .bg5::before {
  content: "";
  width: 52%;
  height: 101%;
  position: absolute;
  left: -120px;
  top: 0;
  background: linear-gradient(to bottom right, rgb(225, 192, 235), #e9c3ed, #e6bfec, #f1cbfc); 
  /* background-color: #dbc3e8; */
  pointer-events: none;
  transform: skewX(15deg);
}

.slider .caja5-slider {
  background-color: rgb(206, 157, 220),;
}

.slider .caja5-slider button {
  /* background-color:  #d6b3e0; */
  background-color:  #ddb0e2;
  }


@media only screen and (max-width: 650px) {
  .slider .caja .bg::before {
    width: 120%;
    bottom: 0;
    transform: skewX(0deg);
  }
}

.slider .caja .details {
  padding: 5rem;
  padding-left: 10rem;
  z-index: 100;
  grid-column: 1/span 1;
  grid-row: 1/-1;
}

@media only screen and (max-width: 650px) {
  .slider .caja .details {
    grid-row: 2/span 1;
    grid-column: 1/-1;
    text-align: center;
    padding: 2rem;
    transform: translateY(-9rem);
  }
}

@media only screen and (max-width: 800px) {
  .slider .caja .details p {
    margin-right: 0;
  }
}

/* BOTÓN */
.slider .caja .details button {
  padding: 9px 30px;
  display: flex;
  color: #fff;
  border-radius: 18px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.slider .caja .details button:hover {
  filter: brightness(1.02);
}
.slider .caja .details button:focus {
  outline: none;
  border: none;
}
.slider .illustration {
  grid-column: 2/-1;
  grid-row: 1/-1;
  justify-self: center;
}
@media only screen and (max-width: 650px) {
  .slider .illustration {
    grid-row: 1/span 1;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.slider .illustration div {
  height: 25rem;
  width: 18rem;
  border-radius: 3rem;
  background-color: #FF0077;
  position: relative;
  transform: skewX(-10deg);
}
@media only screen and (max-width: 800px) {
  .slider .illustration div {
    height: 20rem;
    width: 15rem;
  }
}
.slider .illustration div::after, .slider .illustration div::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 3rem;
  top: 0;
  left: 0;
}
.slider .illustration div::after {
  transform: translate(4rem, -1rem);
}
.slider .illustration div::before {
  transform: translate(2rem, -2rem);
}

.prev,
.next,
.trail {
  z-index: 10000;
  position: absolute;
}

.prev,
.next {
  margin-top: 0.5rem;
  width: 3.5rem;
  cursor: pointer;
  opacity: 0.5; /* 0.3 */
  transition: all 0.3s ease;
}
@media only screen and (max-width: 650px) {
  .prev,
.next {
    display: none;
  }
}
.prev:hover,
.next:hover {
  opacity: 1;
}

.prev {
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}

.next {
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}

.trail {
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 57%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

@media only screen and (max-width: 650px) {
  .trail {
    width: 90%;
    bottom: 13%;
  }
}

.trail div {
  padding: 2rem;
  border-top: 3px solid #ffffff;
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.3s ease;
}

.trail div:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 650px) {
  .trail div {
    padding: 1rem;
  }
}

.active {
  opacity: 1 !important;
}

/* header */

.hide-on-scroll {
  opacity: 1;
  pointer-events: auto;
}
.hide-on-scroll.hidden {
  opacity: 0;
  pointer-events: none;
}

header.transparent {
  background-color: rgba(211, 211, 211, 0.201);
}


/* Default styles for larger screens */
body {
  font-size: 16px;
}

/* Media query for small screens (e.g., mobile phones) */
@media (max-width: 600px) {
  body {
      font-size: 14px;
  }

  header {
      padding: 10px; /* Adjust header padding for smaller screens */
  }

  .navegacion {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .menu {
      text-align: center;
  }

  .menu li {
      margin-bottom: 10px;
  }

  .site-footer {
      text-align: center;
      padding: 20px;
  }

  #carrusel {
      padding: 20px; /* Adjust padding for carousel on smaller screens */
  }

  .carousel-item {
      text-align: center; /* Center text in carousel items on smaller screens */
  }

  .noticia {
      margin-bottom: 20px;
  }

  /* Add more styles as needed for small screens */
}

/* Media query for small screens (e.g., mobile phones) */
@media (max-width: 600px) {
  body {
    font-size: 14px;
}

  .text.noticias {
      font-size: 14px; /* Adjust font size for news card text on smaller screens */
  }
  
  .imagen2 {
      width: 100%; /* Make images within news cards fill the width of the container */
      height: auto; /* Maintain image aspect ratio */
  }

  /* Add more styles as needed for small screens */
}


@media (max-width: 768px) {
  .contenedor-slider {
      overflow: hidden; /* Evita que el carrusel sobresalga del contenedor en pantallas más pequeñas */
  }

  .caja {
      width: 100%; /* Ajusta el ancho de las cajas al 100% del contenedor */
      margin-left: 0; /* Asegura que no haya margen izquierdo en pantallas más pequeñas */
  }


}

@media only screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .novedades {
    font-size: 2rem;
    padding-top: 10rem;
  }

  .carousel-inner img {
    border-radius: 0; /* Elimina el borde redondeado de las imágenes en el carrusel */
    max-width: 100%; /* Ajusta el tamaño máximo de las imágenes al ancho del contenedor */
    height: auto; /* Asegura que la altura de la imagen se ajuste proporcionalmente al ancho */
  }
  }

  .carousel-caption {
    text-align: center;
  }

  .carousel-caption h5, .carousel-caption p {
    margin: 0;
  }

  .carousel-control-prev, .carousel-control-next {
    display: none; /* Oculta los botones de navegación del carrusel en pantallas pequeñas */
  }

  .caja1, .caja2 {
    text-align: center;
    padding: 1rem;
  }

  #lineabaja {
    display: none; /* Oculta la línea baja en pantallas pequeñas */
  }

  @media screen and (max-width: 767px) {
    .noticia {
        flex-direction: column;
    }
}

